$primary: #3396c7;
$primary-invert: findColorInvert($primary);
$secondary: #29d6b5;
$secondary-invert: findColorInvert($secondary);
$release: #b94646;
$release-invert: findColorInvert($release);
$gray: #808080;
$gray-invert: findColorInvert($gray);
